---
title: Elite Dangerous - Keybind Reference Card
---

<div ng-controller="remapper" class="ng-cloak">

  <div id="instructions" class="row" ng-hide="columns">
    <div class="columns">
      <h1>Elite Dangerous Binds Reference</h1>
      <p>Please select default mapping on the left or use the filepicker on the right to view your mappings.</p>
      <p>Simply copy and paste the following into the file picker to view custom binds <em>%APPDATA%\..\Local\Frontier Developments\Elite Dangerous\Options\Bindings\Custom.binds</em></p>
    </div>
  </div>
  <div id="config" class="row">
    <div ng-show="config" class="large-3 medium-6 small-6 columns">
      <label>
        Default Control Schemes
        <select ng-model="current_control_scheme" ng-options="value for value in control_schemes"></select>
      </label>
    </div>
    <div ng-show="config" class="large-3 medium-6 small-6 columns">
      <label>
        Custom Control Scheme
        <input type="file" fileread="file" accept=".binds" />
      </label>
    </div>
    <a class="tiny button" href="#" ng-click="config = !config">Toggle Config</a>
  </div>
  <table class="table-binds" ng-repeat="column in columns">
    <thead>
      <th>Action</th>
      <th>Primary</th>
      <th>Secondary</th>
    </thead>
    <tbody>
      <tr ng-repeat="bind in column">
        <th scope="row">{{bind.action}} </th>
        <td>
          <span ng-show="bind.Primary['@Key']">
            <span ng-show="bind.Primary['Modifier']"><kbd>{{bind.Primary['Modifier']['@Key'].titleize()}}</kbd> +</span>
            <kbd>{{bind.Primary['@Key'].titleize()}}</kbd>
          </span>
        </td>
        <td>
          <span ng-show="bind.Secondary['@Key']">
            <span ng-show="bind.Secondary['Modifier']"><kbd>{{bind.Secondary['Modifier']['@Key'].titleize()}}</kbd> +</span>
            <kbd>{{bind.Secondary['@Key'].titleize()}}</kbd>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
